<div class="w-1/4 mb-10 px-2 overflow-hidden">
    <a href="{{brand.link}}">
        <div class="w-full h-64 bg-cover bg-center rounded-lg mb-2"
            style="background-image: url({{brand.first_photo}});">
        </div>
        <div class="flex justify-between mb-2">
            <div class="w-4/5 overflow-hidden flex">
                <span class="text-sm text-gray-600 block truncate">{{brand.name}}</span>
            </div>
        </div>
        <span class="text-black w-11/12 block truncate">{{brand.description}}</span>
    </a>
    <a href="{% url 'brands:detail' brand.pk %}">Details</a>
</div>